<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Student Dashboard</title>
</head>


<body>
<div class="container">

  <h2>Welcome to the Student Dashboard</h2>
  
  <br> <br> <hr> <br> <br>
  
  <h4>Logged as: <span sec:authentication="name"></span></h4>
  <h4>Has role: <span sec:authentication="authorities"></span></h4>

	<br> <br> <hr> <br> <br>

    <p>
    	<a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
    	<a th:href="@{/student/profile}" class="btn btn-primary btn-sm mb-3">Profile</a>
    	<a th:href="@{/student/list_subjects}" class="btn btn-primary btn-sm mb-3">Subjects</a>
    	<a th:href="@{/logout}" class="btn btn-danger btn-sm mb-3">Logout</a>
    
    </p>
</div>
  
  
</body>
</html>