<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Student Profile</title>
</head>

<body>
	
	<div class="container">
			
		<p class="h4 mb-4">Student Profile </p>
	
		<form action="#" th:action="@{/student/save_profile}"
						 th:object="${student}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{username}" />
			
			<label for="html">Full Name</label>
			<input type="text" th:field="*{fullName}"
					class="form-control mb-4 col-4" > 
		
			<label for="html">AM</label>
			<input type="text" th:field="*{AM}"
					class="form-control mb-4 col-4" >

			<label for="html">Year of Studies</label>
			<input type="text" th:field="*{yearOfStudies}"
					class="form-control mb-4 col-4" >

			<label for="html">Average Grade</label>
			<input type="text" th:field="*{avgGrade}"
					class="form-control mb-4 col-4">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/student/dashboard}">Back to Student Dashboard</a>
		
	</div>
</body>

</html>










