<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Diplomas Management Application</title>
</head>


<body>
<div class="container">

  <h2>Welcome to the Diplomas Management Application</h2>
 
 <br> <br> <hr> <br> <br>
 
    <p>
    	<a th:href="@{/login}" class="btn btn-primary btn-sm mb-3" th:text="Login"></a>
    	<a th:href="@{/register}" class="btn btn-primary btn-sm mb-3" th:text="Register"></a>
    </p>

   	<span th:utext="${successMessage}"></span>
</body>
</html>