<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Applications Directory</title>
</head>

<body>

<div class="container">

	<h3>Applications Directory</h3>
	<hr>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Application Id</th>
				<th>Student Full Name</th>
				<th>Subject Title</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="app, stat : ${applications}">
			
				<td th:text="${app.id}" />	
				<!--   <td th:text="${subject_titles[stat.index]}" />	-->
				<!--   <td th:text="${applicant_names[stat.index]}" /> -->
				<td th:text="${app.applicant.fullName}" />
				<td th:text="${app.applicationSubject.title}" />
			</tr>
		</tbody>		
	</table>
	
	<a th:href="@{/professor/dashboard}">Back to Professor Dashboard</a>
	
</div>
	
</body>
</html>



