<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Professor Profile</title>
</head>

<body>
	
	<div class="container">
			
		<p class="h4 mb-4">Professor Profile </p>
	
		<form action="#" th:action="@{/professor/save_profile}"
						 th:object="${professor}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{username}" />
			
			<label for="html">Full Name</label>
			<input type="text" th:field="*{fullName}"
					class="form-control mb-4 col-4" > 
		
			<label for="html">Specialty</label>
			<input type="text" th:field="*{specialty}"
					class="form-control mb-4 col-4" >
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/professor/dashboard}">Back to Professor Dashboard</a>
		
	</div>
</body>

</html>










