<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Subject Form</title>
</head>

<body>
	
	<div class="container">
	
		<h3>Subject Form</h3>
		<hr>
	
		<form action="#" th:action="@{/professor/add_subject}"
						 th:object="${subject}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{title}"
					class="form-control mb-4 col-4" placeholder="Title">

			<input type="text" th:field="*{description}"
					class="form-control mb-4 col-4" placeholder="Description">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{available}" />
			
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>

		<a th:href="@{/professor/subjects}">Back to Subjects Directory</a>
		
	</div>
</body>

</html>




